<h1>New Issue</h1>

<%= render 'form' %>

<datalist id="issue_status_list">
  <option value="Open">
  <option value="Closed">
  <option value="On going">
  <option value="Review">
  <option value="Cancelled">
</datalist>
<input list="issue_status_list" id="issue_status">

<%= link_to 'Back', issues_path %>
