<h1>New Lead</h1>

<%= render 'form' %>

<datalist id="lead_status_list">
  <option value="Open">
  <option value="Closed">
  <option value="On going">
  <option value="Review">
  <option value="Cancelled">
</datalist>
<input list="lead_status_list" id="lead_status">

<%= link_to 'Back', leads_path %>
