<h1>New Project</h1>

<%= render 'form' %>

<datalist id="project_status_list">
  <option value="Open">
  <option value="Closed">
  <option value="On going">
  <option value="Review">
  <option value="Cancelled">
</datalist>
<input list="project_status_list" id="project_status">

<%= link_to 'Back', projects_path %>
