<h1>New Testcase</h1>

<%= render 'form' %>

<datalist id="testcase_status_list">
  <option value="Open">
  <option value="Closed">
  <option value="On going">
  <option value="Review">
  <option value="Cancelled">
</datalist>
<input list="testcase_status_list" id="testcase_status">

<%= link_to 'Back', testcases_path %>
