<h1>New Bugzillauser</h1>

<%= render 'form' %>

<datalist id="bugzillauser_status_list">
  <option value="Open">
  <option value="Closed">
  <option value="On going">
  <option value="Review">
  <option value="Cancelled">
</datalist>
<input list="bugzillauser_status_list" id="bugzillauser_status">

<%= link_to 'Back', bugzillausers_path %>
