<h1>New Bug</h1>

<%= render 'form' %>

<datalist id="bug_status_list">
  <option value="Open">
  <option value="Closed">
  <option value="On going">
  <option value="Review">
  <option value="Cancelled">
</datalist>
<input list="bug_status_list" id="bug_status">

<%= link_to 'Back', bugs_path %>
