<h1>New Campaign</h1>

<%= render 'form' %>

<datalist id="campaign_status_list">
  <option value="Open">
  <option value="Closed">
  <option value="On going">
  <option value="Review">
  <option value="Cancelled">
</datalist>
<input list="campaign_status_list" id="campaign_status">

<%= link_to 'Back', campaigns_path %>
