<h1>New Product</h1>

<%= render 'form' %>

<datalist id="product_status_list">
  <option value="Open">
  <option value="Closed">
  <option value="On going">
  <option value="Review">
  <option value="Cancelled">
</datalist>
<input list="product_status_list" id="product_status">

<%= link_to 'Back', products_path %>
